.Calculator {
display:grid;
margin-top:8em;
grid-template-columns: repeat(4,6em);
grid-template-rows: minmax(6em,auto) repeat(5,6rem);
justify-content: center;
}
.span-two{
grid-column: span 2;
}
.output{
  grid-column:1/-1;
  background-color: rgb(49, 43, 43);
  color: white;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:space-around;
  padding:0.75rem;
  word-wrap:break-word;
  word-break:break-all;
}
.output .previous-operand{
  font-size: 1.5rem;
}
.Calculator > button {
  cursor:pointer;
  font-size:2.5em ;
  background-color: lightblue;
  border: 1px solid white;
  outline:none;
}
.Calculator > button:hover,.Calculator > button:focus{
  background-color: rgb(238, 242, 244);
}
.output .current-operand{
  font-size: 2.5rem;
}
.msg{
  margin-top: 2.7em;
  text-align: center;
  font-size: 1.5em;
  margin-right: 1.8em;
  font-family: 'Heebo', sans-serif;
}
.github{
  position:absolute;
  margin-left:0.5em;
}
.second{
  margin-top:0.3em ;
}
.flag{
  margin-left: 0.2em;
}
.img{
  position:absolute;
  margin-bottom: 0.8em;
  margin-left: 0.4em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
